body{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
.hero{
    height: 100vh; 
    height:50%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
} 
.hero::after {
    width: 100%;
    height: 100%;
    /* you have to have content:'' in order to display effect*/
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
    background: rgba(0,0,0,0.3);
}
.hero video{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:5; 
    object-fit: cover;
} 

.hero .caption{
    position: relative;
    z-index: 20; 
    text-align: center;
    color: white; 
} 

.hero .caption h1{
    text-transform: uppercase;
    font-size: 10rem;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
} 
.hero .caption a{
    text-decoration: none;
} 
.hero .caption a h1{
    text-decoration: none;
    color: white;
} 
.hero .caption a::before {
    text-decoration:none; 
    cursor:pointer; 
}
.hero .caption h1:hover {
    cursor:pointer; 
    transform: scale(1.2);
}
.hero .caption h2{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.2%;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
    background: transparent; 
    color: white;
}

.hero .caption h3{
    font-weight: 400;
    font-size: 1.3rem;
    margin: 2.5%;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
    background: transparent; 
    color: white;
}

.hero .caption button{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 15%;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
    background: white; 
    color: black; 
    cursor: pointer;
} 

.hero .caption button:hover {
    cursor:pointer; 
    transform: scale(1.2);
}

.footContainer{
    box-sizing: border-box;
    max-width: 1170px;
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    z-index: 10; 
    position: center absolute; 
    bottom: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
} 
ul{
    list-style: none;
}
.footer{
    padding: 0px 0;
}
.footer-col{
    width: 25%;  
    padding: 0 15px; 
    z-index: 10; 
    color: white;
} 
.footer-col h4{
    font-weight: 400;
    position: relative;
} 
.footer-col::before{
    content: '';
    position: relative;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width:50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    transition: all 0.3s ease; 
    display: block;
}
.footer-col ul li:hover{
    color: burlywood;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: burlywood;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px; 
    border-radius: 50%; 
    transition: all 0.5s ease; 
    color: white;
}
.footer-col .social-links a:hover{
    color: .24262b;
    background-color: white;
}

@media screen and (max-width:767px) {
    .hero .caption h1{
        font-size: 4.2rem;
    } 
    .hero .caption h2{
        font-size: 1.75rem;
    } 
    .hero .caption h3{
        font-size: .85rem;
    } 
    .hero .caption button{
        font-size: .75rem;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        font-size: .75rem;
    }
    .caption{
        margin-top: 50%;
    }
} 
@media screen and (min-width:768px) and (max-width: 1023px) {
    .hero .caption h1{
        font-size: 8rem;
    } 
    .hero .caption h2{
        font-size: 3rem;
    } 
    .hero .caption h3{
        font-size: 1.5rem;
    } 
    .hero .caption button{
        font-size: 1rem;
    }
}  

@media screen and (min-width:1024px) {
    .hero .caption h1{
        font-size: 11rem;
    } 
    .hero .caption h2{
        font-size: 5rem;
    } 
    .hero .caption h3{
        font-size: 2.5rem;
    } 
    .hero .caption button{
        font-size: 2rem;
    }
} 